Mover/Web References/MoverWeb/moverserv.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="REG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vers" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="aStart" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="interval" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="baloon" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="REGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="REGResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCnf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dir_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mask" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dir" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="interval" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="baloon" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCnfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetCnfResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCnf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="m_hash" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCnfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCnfResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IPSoapIn">
    <wsdl:part name="parameters" element="tns:IP" />
  </wsdl:message>
  <wsdl:message name="IPSoapOut">
    <wsdl:part name="parameters" element="tns:IPResponse" />
  </wsdl:message>
  <wsdl:message name="REGSoapIn">
    <wsdl:part name="parameters" element="tns:REG" />
  </wsdl:message>
  <wsdl:message name="REGSoapOut">
    <wsdl:part name="parameters" element="tns:REGResponse" />
  </wsdl:message>
  <wsdl:message name="SetCnfSoapIn">
    <wsdl:part name="parameters" element="tns:SetCnf" />
  </wsdl:message>
  <wsdl:message name="SetCnfSoapOut">
    <wsdl:part name="parameters" element="tns:SetCnfResponse" />
  </wsdl:message>
  <wsdl:message name="GetCnfSoapIn">
    <wsdl:part name="parameters" element="tns:GetCnf" />
  </wsdl:message>
  <wsdl:message name="GetCnfSoapOut">
    <wsdl:part name="parameters" element="tns:GetCnfResponse" />
  </wsdl:message>
  <wsdl:portType name="MoverServSoap">
    <wsdl:operation name="IP">
      <wsdl:input message="tns:IPSoapIn" />
      <wsdl:output message="tns:IPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="REG">
      <wsdl:input message="tns:REGSoapIn" />
      <wsdl:output message="tns:REGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCnf">
      <wsdl:input message="tns:SetCnfSoapIn" />
      <wsdl:output message="tns:SetCnfSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCnf">
      <wsdl:input message="tns:GetCnfSoapIn" />
      <wsdl:output message="tns:GetCnfSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MoverServSoap" type="tns:MoverServSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IP">
      <soap:operation soapAction="http://tempuri.org/IP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="REG">
      <soap:operation soapAction="http://tempuri.org/REG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCnf">
      <soap:operation soapAction="http://tempuri.org/SetCnf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCnf">
      <soap:operation soapAction="http://tempuri.org/GetCnf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MoverServSoap12" type="tns:MoverServSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IP">
      <soap12:operation soapAction="http://tempuri.org/IP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="REG">
      <soap12:operation soapAction="http://tempuri.org/REG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCnf">
      <soap12:operation soapAction="http://tempuri.org/SetCnf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCnf">
      <soap12:operation soapAction="http://tempuri.org/GetCnf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MoverServ">
    <wsdl:port name="MoverServSoap" binding="tns:MoverServSoap">
      <soap:address location="http://10.202.14.15/mover/services/moverserv.asmx" />
    </wsdl:port>
    <wsdl:port name="MoverServSoap12" binding="tns:MoverServSoap12">
      <soap12:address location="http://10.202.14.15/mover/services/moverserv.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>